<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MachineLearningTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MachineLearningTool.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>h3XQaueIqkCcsvzZwmYQxUQLN</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>FoD4uQh99X4tuyqA13LXa1lzaEreYMYYUERWMdtmABYaLUo4x2</value>
      </setting>
      <setting name="UserAcessToken" serializeAs="String">
        <value>939618342746324993-KbVHqdL0lVrEGzX3C8edlExMB0cbKOh</value>
      </setting>
      <setting name="UserAccessTokenSecret" serializeAs="String">
        <value>NDtNoRsEUHXla00DfANs9xuOoebKoIc81UI3UgZUUnweT</value>
      </setting>
      <setting name="DownloadConfigLocation" serializeAs="String">
        <value>Resources\Configs\DownloadSettings.json</value>
      </setting>
    </MachineLearningTool.Properties.Settings>
  </applicationSettings>
</configuration>